.cover-image{
filter: brightness(50%);
}

.button-register{
   text-decoration: none;
}
.fa-star,.fa-star-half-stroke{
    color: gold;
}

@media screen and (max-width:576px){
   
    .carousel-item {
        height: 230px;
        position: relative;
        font-size: 12px;
    }
    .carousel-item h1{
        font-size: 20px;
    }   
}